.profile_info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 50px;
  gap: 50px;
}

.profile_text {
  padding: 25px;
  padding-top: 15px;
}

#profile_picture {
  width: 100%;
  border-radius: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.username {
  margin-left: 20px;
  margin-top: -15px;
}

.introduction {
  margin-top: 20px;
  margin-left: 20px;
}

hr {
  color: var(--ACCENT);
}

.profile_posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px;
  gap: 10px;
}

.profile_posts div {
  border: 1px solid var(--ACCENT);
}

.small {
  display: none;
}

@media screen and (max-width: 1025px) {
    .profile_info {
        margin: 0;
        gap: 10px;
        grid-template-columns: 1fr 1fr;
    }
    .profile_posts {
        padding: 0;
        padding-top: 10px;
        gap: 5px;
    }
    .big {
        display: none;
    }
    .small {
      display: block;
    }
    .username {
      font-size: 30px;
    }
    .name {
      font-size: 30x;
    }
}

@media screen and (max-width: 481px) {
  .profile_text{
    padding: 0;
  }
  .username {
    margin-left: 5px;
  }
}